<% layout('layouts/boilerplate') %>
<div class="mb-3 w-100 p-4">
  <div class="cluster-map" id="map"></div>
</div>
<div class="alignc mb-4">
  <h1>All Photoplaces</h1>

  <a class="btn btn-primary" href="/photoplaces/new">Add Photoplace</a>
</div>

<% for (let photoplace of photoplaces) {%>
<div class="card bg-dark mb-3">
  <div class="row row-gradient rounded">
    <div class="col-md-4">
      <% if(photoplace.images.length) {%>
      <img
        class="img-fluid rounded"
        alt=""
        src="<%=photoplace.images[0].url%>"
      /><% } else { %>
      <img
        class="img-fluid"
        src="https://res.cloudinary.com/dh5z8rk4p/image/upload/v1648485670/Spotography/muh5f6b3gr8rdhbzwhpi.png"
        alt=""
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=photoplace.title%></h5>
        <small class="text-muted"><%=photoplace.location%></small>
        <p class="card-text"><%=photoplace.description%></p>
        <a class="btn btn-secondary" href="/photoplaces/<%=photoplace._id%>"
          >View <%=photoplace.title%>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>"
  const photoplaces = {features: <%-JSON.stringify(photoplaces)%>}
</script>
<script src="/js/clusterMap.js"></script>
